body {
    background-image: url('world.jpg');
    background-size: cover;
}
.box {
    text-align: center;
    padding-bottom: 5em ;
}
.boxContainer {
    font-size: 1.3em;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px 3px 8px 1px;
}
.info {
    width: 100%;
    background-color: rgba(35, 39, 37, 0.6);
    padding: 1em 0;

}
#informacoes {
    max-width: 600px;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgba(88, 93, 90, 0.944);
    /* text-shadow: 2px 2px 8px yellow; */
    /* deslocamento horizontal, deslocamento vertical,
        tamanho do embaçado da sombra, cor da sombra */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}
