
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');


body{
    background-image: url("starwars.jpg"); 
    font-size: large;
    display: grid;
	grid-template-areas: 
    "esquerda topo direita"
    "esquerda suma direita"
    "esquerda conteudo direita"
    ;
}

body {
    margin: 0;
    padding: 0;  
    width:100%;
}

#topo {
    grid-area: topo;
    background-image: url("space3.gif");
    width: 1400px;
    height: 120px;
    filter: opacity(90%);
    padding-bottom: 20px;
     
    
}

#suma {
    grid-area: suma;
    width: 1400px;
    height: 10px;
    padding-top: 20px;
    filter: opacity(90%);
}

.menu {
    background-image: url("space2.gif");
    padding-top: 9px;

}
.menu a{
    text-decoration: none; /*retirar o sublinhado*/
    color:#F7F8F8;
    margin: 1em 1em;
    margin-top: 2px;
    padding-top: 1px;
    display: inline-block;
    padding: 0.5em 1.0em; /* vertical horizontal */
    font-family: 'Abel', sans-serif;
    transition: all 0.5s linear; 
    filter: opacity(90%);
    border-radius: 0.5em;
    font-size: 18px;
    
}
.menu a:hover {
    background-color: #E1DFD0;
    color: #595E60;
}



#texto1 h1 {
    color:#F7F8F8;
    text-align: center;
    padding-left: 4px;
    margin-top: 2px;
    font-family: 'Abel', sans-serif;

}

#texto2 h3 {
    text-align: center;
    color: #F7F8F8;
    font-family: 'Abel', sans-serif;


}

#direita {
    grid-area: direita;

}


#esquerda {
    background: color #2f404d;
    width: 15vw;
    grid-area: esquerda;
    color: aliceblue;
    margin: 2px;
    
}


 .menu {
    border: #d5d8e7;
 }

#esquerda img{ 
    width: 9vw;
    height: 430vh;
    padding-left: 30px;
    padding-top: 10px;

}
#direita img{
    width: 9vw;
    height: 430vh;
    padding-left: 30px;
    padding-top: 10px;

}


#conteudo {
    background-color: #d5d8e7;
    width:  1400px;
    height: 700px;
    grid-area: conteudo;
    padding-top: px;
    padding-bottom: px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
    margin-bottom:3224px;
    border-radius: 0.5em;
}

#sinopse img {
    width: 400px;
    height: 600px;
    padding-left: 420px;
    padding-top: 5px;
    margin: 2px;
    border: 40px #1d3557;

   
}


#conteudoi p{
    font-size: large;
    grid-area: conteudo;  
}
#sinopse p {
    padding-left: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    padding-right: 20px;
}


#conteudoi {
    background-color: #ffffff;
    width:  1400px;
    height: 1200px;
    grid-area: conteudo;
    padding-top: px;
    padding-bottom: 200px;
    margin-top: 58px;
    margin-bottom:3350px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
}
#conteudoli {
    background-color: #ffffff;
    width:  1400px;
    height: 5570px;
    grid-area: conteudo;
    margin-top: 62px;
    padding-top: 5px;
    padding-bottom: px;
    margin-bottom: px;
    font-family: 'Abel', sans-serif;
    font-size:19px;

}


#conteudojo{
    background-color: #ffffff;
    width:  1400px;
    height: 5670px;
    margin-top: 62px;
    grid-area: conteudo;
    padding-top: 1px;
    padding-bottom: 250px;
    margin-bottom:1569px;
    font-family: 'Abel', sans-serif;
    font-size:19px;

}

#conteudofi{
    background-color: #ffffff;
    width:  1400px;
    height: 4200px;
    margin-top: 62px;
    grid-area: conteudo;
    padding-top: 1px;
    padding-bottom: 250px;
    margin-bottom:100px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
}
#conteudoper {
    background-color: #ffffff;
    width:  1400px;
    height: 1450px;
    grid-area: conteudo;
    padding-top: 2px;
    padding-bottom: 250px;
    margin-top: 63px;
    margin-bottom:3356px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
}

.personas {
    padding-left: 10px;
    margin-left: 100px;
}

#conteudohq {
    background-color: #ffffff;
    width:  1400px;
    height: 2450px;
    grid-area: conteudo;
    padding-top: 2px;
    padding-bottom: 250px;
    margin-top: 63px;
    margin-bottom:2000px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
}

#conteudopre{
    background-color: #ffffff;
    width:  1400px;
    height: 1450px;
    grid-area: conteudo;
    padding-top: 2px;
    padding-bottom: 250px;
    margin-top: 63px;
    margin-bottom:3353px;
    font-family: 'Abel', sans-serif;
    font-size:19px;
    text-align: center;
}
#conteudopre img{
    width: 20vw;
    height: 20vh;
    text-align: center;

}
#conteudopre p{
    font-size:22px;
}

#conteudoani {
    background-color: #ffffff;
    width:  1400px;
    height: 3300px;
    grid-area: conteudo;
    padding-top: 2px;
    padding-bottom: 250px;
    margin-top: 63px;
    margin-bottom:600px;
    font-family: 'Abel', sans-serif;
    font-size:19px;

}

.anima{
    padding-left: 30px;
}
.conteudo {
  text-align: center;
}


.anima img{
    width: 300px;
    height: 400px;
}

form {
    /* Centralizar o formulário na pagina */
    margin: 23px;
    width: 400px;
    height: 500px;
    /* Ver o esboço do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    color:#ffffff;
  }
  
form div + div {
    margin-top: 1em;
  }
  
label {
    /* Para garantir que todos os rótulos tenham o mesmo tamanho e estejam devidamente alinhados*/
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
input, textarea {
    /* 
  Para garantir que todos os campos de texto tenham as mesmas configurações de fonte
       Por padrão, as áreas de texto possuem a mesma fonte */
    font-family: 'Abel', sans-serif;
    font-size:19px;
    color:#111010;
  
    /* Para dar o mesmo tamanho a todos os campos de texto*/
    width: 300px;
    box-sizing: border-box;
    color:#030303;
  
    /* Para harmonizar o aspecto e a sensação da borda do campo de texto */
    border: 1px solid rgb(247, 247, 247);
  }
  
input:focus, textarea:focus {
    /* Para dar um pouco de destaque aos elementos ativos*/
    border-color: rgb(248, 248, 248);
  }
  
textarea {
    /* Para alinhar corretamente campos de texto multilinha com seus rótulos */
    vertical-align: top;
  
    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;
  }
  
.button {
    /* Para posicionar os botões na mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do rótulo */
  }
  
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço
       entre os rótulos e seus campos de texto*/
    margin-left: .5em;
    background-color: #CCC;
    color: rgb(255, 255, 255);
  }

form {
  text-align: center;
  margin-left: 840px;
  margin-top: 150px;
  background-color: #050A30;
  opacity: 90%;
}
 



  

  